      </main>

      <footer class="footer">
        <p>
          Created By
          <a
            target="_blank"
            class="footer__link"
            href="https://github.com/mohamedalosaili/cover-letter-generator"
          >
            @Mohammed
          </a>
        </p>
        <p>
          Inspired By
          <a
            target="_blank"
            class="footer__link"
            href="https://github.com/Nutlope/twitterbio"
          >
            twitterbio
          </a>
        </p>
      </footer>
    </div>
  </body>
</html>
