<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Cover Letter Generator ðŸ“- Create professional, personalized, and effective cover letters effortlessly with the help of AI."
  />
  <meta
    name="keywords"
    content="cover letter generator, cover letter email generator, job application tool, cover letter writing assistance, personalized cover letter generator, professional cover letter creator, smart cover letter builder"
  />
  <meta property="og:title" content="Cover Letter Generator ðŸ“" />
  <meta
    property="og:description"
    content="Cover Letter Generator ðŸ“- Create professional, personalized, and effective cover letters effortlessly with the help of AI."
  />
  <meta name="twitter:title" content="Cover Letter Generator ðŸ“" />
  <meta name="twitter:card" content="summary" />
  <meta
    name="twitter:description"
    content="Cover Letter Generator ðŸ“- Create professional, personalized, and effective cover letters effortlessly with the help of AI."
  />
  <link rel="icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="css/style.css" />
  <title>
    <%= typeof title !== 'undefined' ? title : 'Cover Letter Generator ðŸ“' %>
  </title>
</head>
