/* Global Styles Start */
* {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: 248 250 252;
  --text-color: 0 0 0;
  --text-color-alt: 255 255 255;
  --transition-duration: 150ms;
  --transform-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --border-raduis: 0.5rem;
}

body {
  background-color: rgb(var(--main-bg-color) / 0.5);
}

.error {
  min-height: 50vh;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error__emoji {
  font-size: 4rem;
}

.container {
  min-height: 100vh;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid rgb(var(--text-color, #000));
  background-color: rgb(var(--text-color, #000));
  color: rgb(var(--text-color-alt, #fff));
  border-radius: var(--border-raduis, 0.5rem);
  transition-property: transform, shadow, background-color;
  transition-duration: var(--transition-duration, 0.15s);
  transition-timing-function: var(
    --transform-timing-function,
    cubic-bezier(0.4, 0, 0.2, 1)
  );
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  will-change: transform, shadow;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.btn:active {
  transform: scale(0.95);
}

.btn--alt {
  background-color: transparent;
  color: var(--text-color);
}

.btn--alt:hover {
  background-color: rgb(var(--text-color, 0 0 0) / 0.05);
}

/* Small devices breakpoint from TailwindCSS */
@media (min-width: 640px) {
}
/* Global Styles End */
/* Header Style Start */
.header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid rgb(var(--text-color, 0 0 0) / 0.05);
}

.header__title {
  font-weight: 500;
}

.header__first-letter {
  margin-right: -0.25rem;
}

.header__portion {
  display: none;
}

.btn--thin {
  padding: 0.5rem 1rem;
}

@media (min-width: 640px) {
  .header__first-letter {
    margin-right: 0;
  }

  .header__portion {
    display: inline;
  }

  .btn--thin {
    padding: 0.5rem 2rem;
  }
}
/* Header Style End */

/* Main Style Start */
.main {
  flex: 1;
  padding: 2rem 1rem;
}

.main__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: min(10vw, 3.5rem);
  text-align: center;
  max-width: 32rem;
  margin: 3rem auto;
}

@media (min-width: 900px) {
  .main__title {
    max-width: 48rem;
  }
}

.main__container {
  position: relative;
}

.modal {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  padding: 1rem;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.modal__wrapper {
  background-color: rgb(var(--main-bg-color));
  max-width: 28rem;
  font-weight: 500;
  border-radius: var(--border-raduis);
  border: 2px solid rgb(var(--text-color) / 0.25);
  padding: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.modal__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.modal__text {
  text-align: center;
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .modal__text {
    font-size: 1rem;
  }
}

.modal__form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__label {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal__checkbox {
  width: 1rem;
  height: 1rem;
  accent-color: rgb(var(--text-color));
}

.modal__text--small {
  font-size: 0.75rem;
}

.modal__link {
  text-decoration: none;
  color: rgb(0 0 255 / 0.75);
}

.modal__link:hover {
  text-decoration: underline;
}

.form {
  max-width: 42rem;
  margin: 4rem auto 2rem;
  padding: 4rem 0 2rem;
  display: grid;
  gap: 1rem;
  font-weight: 500;
  position: relative;
}

.form__range {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.range__input {
  accent-color: rgb(var(--text-color));
}

.range__value {
  width: 4rem;
  text-align: center;
}

.form__block {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__block--optional {
  display: none;
}

.form__block--optional.show {
  display: flex;
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.hint__trigger {
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  display: grid;
  place-items: center;
  line-height: 1;
  cursor: pointer;
  border: 1px solid rgb(var(--text-color) / 0.25);
  border-radius: 50%;
}

.hint__trigger:hover + .label__hint {
  opacity: 1;
}

.label__hint {
  position: absolute;
  bottom: 0;
  left: 0.25rem;
  background-color: rgb(var(--text-color-alt));
  border-radius: var(--border-raduis);
  padding: 0.75rem;
  opacity: 0;
  pointer-events: none;
  border: 1px solid rgb(var(--text-color) / 0.1);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transform-timing-function);
  z-index: 10;
}

.label__required {
  color: red;
  margin-right: 0.25rem;
}

.form__input {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(var(--text-color) / 0.25);
  border-radius: var(--border-raduis);
  transition-property: border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transform-timing-function);
}

.form__input::placeholder {
  font-size: 0.875rem;
}

.form__input:focus {
  outline: none;
  border-color: rgb(var(--text-color) / 0.75);
}

.form__input--large {
  height: 7rem;
  resize: vertical;
  min-height: 4rem;
}

.form__input:focus + .input__length {
  opacity: 0.5;
}

.input__length {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  font-size: 0.75rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transform-timing-function);
}

@media (min-width: 640px) {
  .form {
    grid-template-columns: 1fr 1fr;
  }

  .form__element--large {
    grid-column: span 2;
  }
}

.generated {
  max-width: 48rem;
  margin: 2rem auto;
  padding: 2rem;
}

.generated__title {
  font-size: min(2.5rem, 7vw);
  text-align: center;
  margin-bottom: 2rem;
}

.generated__text {
  position: relative;
  padding: 1rem;
  background-color: rgb(var(--main-bg-color));
  border: 1px solid rgb(var(--text-color) / 0.25);
  border-radius: var(--border-raduis);
  box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, 0.05),
    1px 2px 10px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transform-timing-function);
}

.generated__text:hover {
  background-color: rgb(var(--text-color-alt));
}

.generated__text:hover .generated__tip {
  transform: translate(-50%, -0.5rem);
}

.generated__tip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 1.5rem);
  font-weight: 500;
  z-index: -1;
  will-change: transform;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transform-timing-function);
}

/* Main Style End */

/* Footer Style Start */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1.5rem 1rem;
  border-top: 2px solid rgb(var(--text-color, 0 0 0) / 0.05);
}

.footer__link {
  text-decoration: none;
  color: var(--text-color);
}

.footer__link:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .footer {
    font-size: 1rem;
  }
}
/* Footer Style End */
