<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
  <body>
    <div class="container">
      <%- include('../partials/header.ejs'); %>

      <main class="main">
        <div class="main__top">
          <h1 class="main__title">
            Generate Cover Letter Email Easily With GPT Model
          </h1>
          <button class="btn">Try it now 👇</button>
        </div>
      </main>

      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
